@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900,900i&display=swap');
@font-face {
  font-family: 'documentation-ico';
  src:  url('./fonts/documentation-ico/documentation-ico.eot?2occdo');
  src:  url('./fonts/documentation-ico/documentation-ico.eot?2occdo#iefix') format('embedded-opentype'),
    url('./fonts/documentation-ico/documentation-ico.ttf?2occdo') format('truetype'),
    url('./fonts/documentation-ico/documentation-ico.woff?2occdo') format('woff'),
    url('./fonts/documentation-ico/documentation-ico.svg?2occdo#documentation-ico') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* -------------
Table of content
----------------
# Global

# Header
  ## Nav
  ## Searchbox

# Sidebar
  ## Menu
  ## Infos Account

# App Main

# Documentation

------------ */

/* # Global */
:root {
  --red-200-color: #FED7D7;
  --red-600-color: #E53E3E;
  --grey-100-color: #F7FAFC;
}
*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
}
h1 {
  margin: 0 0 1.5rem 0;
  font-size: 2rem;
  font-weight: 900;
}
.heading-1 > p {
  margin-bottom: 0;
}
h2, .heading-2 {
  margin: 0 0 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
h3, .heading-3 {
  font-size: 1.125rem;
  font-weight: 700;
}
p {
  margin: 0 0 1.5rem 0;
  line-height: 1.25rem;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.row {
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 3rem;
}
.row:last-child {
  margin-bottom: 0;
}
.whiteBlock {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(160, 174, 192, 0.15);
}
button {
  padding: .25rem .75rem;
  font-weight: 400;
  font-size: .75rem;
  border-radius: 5px;
}
.heading-1 {
  padding: 2.25rem;
}

/* # Header */
.mainHeader {
  display: flex;
  width: 100%;
  height: 70px;
  padding-left: 2rem;
  padding-right: 3rem;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 160px 0 10px rgba(160, 174, 192, 0.1);
}
.sidebarHeader {
  display: flex;
  padding: .375rem 0;
  align-items: center;
}
.sidebarHeader img {
  height: 58px;
  margin-right: 1rem;
}
.sidebarHeader .appType {
  padding: .175rem .375rem;
  font-size: .75rem;
  color: #fff;
  background-color: #D5D5D5;
  border-radius: 5px;
}
/* ## Nav */
.mainHeader nav {
  margin-left: 3rem;
}
.menuNav {
  display: flex;
  align-items: center;
}
.menuNav li a {
  display: flex;
  margin-right: 1rem;
  padding: .5rem;
  font-size: .875rem;
  align-items: center;
}
.menuNav li a:hover {
  color: var(--red-600-color);
}
.menuNav li:nth-last-child {
  margin-bottom: 0;
}
.menuNav li a:before {
  margin-right: 1rem;
  font-family: 'documentation-ico';
  font-size: 1rem;
  font-weight: 400;
}
.menuNav li.menuHome a:before {
  content: '\e901';
}
.menuNav li.menuModeles a:before {
  content: '\e900';
}
.menuNav li.menuMaj a:before {
  content: '\e903';
}
.menuNav li.menuFav a:before {
  content: '\e902';
}
.menuNav li a.active {
  font-weight: 600;
  color: var(--red-600-color);
}

/* ## Searchbox */
.searchBox {
  width: 25%;
  margin-left: auto;
  padding-right: 0;
}
.searchBox form {
  display: flex;
  border-radius: 20px;
  background-color: var(--grey-100-color);
}
.searchBox form input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}
.searchBox form input:focus {
  outline: none;
}
.searchBox form button {
  display: flex;
  width: 2.875rem;
  height: 2.875rem;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}
.searchBox form button:before {
  content: '\e904';
  font-family: 'documentation-ico';
  font-size: 1.25rem;
  color: var(--red-600-color);
}

/* # Sidebar */
.sidebar {
  display: flex;
  width: 7.25rem;
  height: calc(100vh - 70px);
  padding: 0 1.5rem 0 2rem;
  flex-direction: column;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 9999;
}

/* ## Infos Account */
.sidebarAccount {
  display: flex;
  margin: auto 0 1.5rem 0;
  padding: 2rem;
  align-items: center;
}
.sidebarAccount:after {
  content: '\e905';
  margin-left: auto;
  font-family: 'documentation-ico';
}
.accountIcon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background-color: var(--red-600-color);
  color: #fff;
  border-radius: 50%;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
}

/* # App Main */
.appMain {
  margin-left: 7.25rem;
}
.mainInner.row {
  margin: 70px 0 2rem;
  padding: 2.25rem;
  background-color: var(--grey-100-color);
  border-radius: 2rem 0 0 2rem;
  box-shadow: 0 0 10px rgba(160, 174, 192, 0.15) inset;
}

/* ## MainContent */
.themes h2, .lastMaj h2, .indexMod h2, .themes .row h2 {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

/* ## Thèmes */
.themes .whiteBlock {
  min-height: 11.875rem;
  margin-bottom: 1.5rem;
}
.themInfo {
  display: flex;
  flex-direction: column;
}
.themInfo img {
  max-width: 2.5rem;
}
.nbUC {
  margin-top: auto;
}

/* ## Maj list */
.majTitle, .modTitle {
  display: flex;
  align-items: center;
}
.majTitle button, .modTitle button {
  margin: 0 0 1rem auto;
  border: 1px solid var(--red-600-color);
  background-color: #fff;
  cursor: pointer;
}
.majTitle button a , .modTitle button a {
  color: var(--red-600-color);
}
.majTitle button:hover, .modTitle button:hover {
  background-color: var(--red-600-color);
}
.majTitle button:hover a , .modTitle button:hover a {
  color: #fff;
}

/* List UC */
li.itemUC {
  padding-bottom: 1rem;
}
li.itemUC:last-child {
  padding-bottom: 0;
}
.itemUCOuter {
  display: flex;
  align-items: center;
}
.itemUCOuter:before {
  content: "\e900";
  font-family: "documentation-ico";
  font-size: 1.25rem;
  padding-right: 1rem;
}
.titleUC {
  padding-bottom: .25rem;
  font-size: .875rem
}
.refInternet {
  font-size: .75rem;
  color: var(--red-600-color);
}

/* # Documentation */
.mainHeader {
  box-shadow: 395px 0 10px rgba(160, 174, 192, 0.1);
}
.documentation .sidebar {
  width: 22.5rem;
}
.documentation .appMain {
  margin-left: 22.5rem;
}
.documentation.themes .row .whiteBlock {
  margin-bottom: 0;
}

/* # Responsive */
@media only screen and (max-width: 992px) {
.sidebar {
  width: 7.125rem;
  padding: 0 1.5rem;
  overflow: hidden;
}
.appMain {
  margin-left: 7.125rem;
}
}
@media only screen and (max-width: 1199px) {
  .searchBox {
    width: 2.875rem;
  }
  .searchBox form {
    border-radius: 50%;
  }
  .searchBox form input {
    display: none;
  }
  }

/* Animation / Transitions */
.sidebar {
  transition: width ease .3s;
}
.appMain {
  transition: margin-left ease .3s;
}

/* Temp */
.sidebarAccount {
  margin: auto auto 1.5rem auto;
  padding: 2rem 0;
}
.sidebarAccount span:last-child {
  display: none;
}
.sidebarAccount:after {
  display: none;
}
.accountIcon {
  margin: 0;
}